.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modeloption{
  z-index: 999;
  position: relative;
}

.home{
  z-index: 0;
  position: relative;
}

.modal-content{
  color: white !important;
    background-color: #00000080 !important;
}

.modal-content > .modal-body input{
  color: white !important;
    background-color: #00000080 !important;
}

.modal-content > .modal-body input::placeholder {
  color: white !important;
}
.modal-content > .modal-body input[type] {
  color: white !important;
}

.modal-content > .modal-body form div select {
 
  background-color: #00000080 !important;
}
.modal-content > .modal-body form div select[value ]{
  color: white !important;
}

.modal-content > .modal-body textarea{
  color: white !important;
    background-color: #00000080 !important;
}

.modal-content > .modal-body textarea::placeholder {
  color: white !important;
}
.btn-close {
  color: white !important;
  background-color: white !important;
}
